# DSCI Project: Speed Dating Analysis  
#### Can we predict whether two person matched or not?

# DSCI Project Proposal: Variables that affect Chocolate Rating

### Introduction:

### Methods:
We will filter out the more recent ratings with the column that indicates the review date so that our analysis is not outdated. We are planning to make a graph with the cocoa percentage on the x-axis, ratings on the y-axis, and the companies distinguished with different coloured points.

### Expected outcomes and significance:
##### What do you expect to find? 
We expect to find what variables impact the expert rating of chocolate bar the most. We will find the relationship between; the brand vs. rating, country of cocoa vs. rating, and cocoa % vs. rating.
##### What impact could such findings have?
(1)Our decisions on purchasing which type of chocolate. (2)Inform and recommend companies what % of cocoa is best.(3)From which country should companies purchase cacao?  
##### What future questions could this lead to?
Does the specific bean of origin and type of bean impact the rating? How reliable is this dataset? This can be investigated through comparing other dataset ratings.
#### Sources
S. Jinap, P. S. Dimick, R. Hollender, (1995). Flavour evaluation of chocolate formulated from cocoa beans from different countries. Food Control, 6(2), 105-110. https://doi.org/10.1016/0956-7135(95)98914-M. Roberto Verna, (2013). The history and science of chocolate. Malaysian J Pathol, 35(2), 111-121. http://www.mjpath.org.my/2013.2/history-and-science-of-chocolate.pdf

In [13]:
import altair as alt
import pandas as pd
import numpy as np
import sklearn
from sklearn.compose import make_column_transformer
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import GridSearchCV, cross_validate, train_test_split

In [27]:
df_speeddating = pd.read_csv("speeddating.csv")
df_speeddating

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,b'',1.0,b'female',21.0,27.0,6.0,b'[4-6]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'0',b'0'
1,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,5.0,b'[6-8]',b'[5-6]',1.0,b'1',b'0',b'0'
2,b'',1.0,b'female',21.0,22.0,1.0,b'[0-1]',b'Asian/Pacific Islander/Asian-American',b'Asian/Pacific Islander/Asian-American',b'1',...,b'[0-3]',b'[3-5]',7.0,NaN,b'[6-8]',b'[0-4]',1.0,b'1',b'1',b'1'
3,b'',1.0,b'female',21.0,23.0,2.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'European/Caucasian-American',b'0',...,b'[0-3]',b'[3-5]',7.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'
4,b'',1.0,b'female',21.0,24.0,3.0,b'[2-3]',b'Asian/Pacific Islander/Asian-American',b'Latino/Hispanic American',b'0',...,b'[0-3]',b'[3-5]',6.0,6.0,b'[6-8]',b'[5-6]',0.0,b'1',b'1',b'1'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,b'',21.0,b'male',25.0,26.0,1.0,b'[0-1]',b'European/Caucasian-American',b'Latino/Hispanic American',b'0',...,b'[0-3]',b'[3-5]',2.0,5.0,b'[0-5]',b'[5-6]',0.0,b'0',b'1',b'0'
8374,b'',21.0,b'male',25.0,24.0,1.0,b'[0-1]',b'European/Caucasian-American',b'Other',b'0',...,b'[0-3]',b'[3-5]',4.0,4.0,b'[0-5]',b'[0-4]',0.0,b'0',b'0',b'0'
8375,b'',21.0,b'male',25.0,29.0,4.0,b'[4-6]',b'European/Caucasian-American',b'Latino/Hispanic American',b'0',...,b'[0-3]',b'[3-5]',6.0,5.0,b'[6-8]',b'[5-6]',0.0,b'0',b'0',b'0'
8376,b'',21.0,b'male',25.0,22.0,3.0,b'[2-3]',b'European/Caucasian-American',b'Asian/Pacific Islander/Asian-American',b'0',...,b'[0-3]',b'[3-5]',5.0,5.0,b'[0-5]',b'[5-6]',0.0,b'0',b'1',b'0'
8377,b'',21.0,b'male',25.0,22.0,3.0,b'[2-3]',b'European/Caucasian-American',b'Asian/Pacific Islander/Asian-American',b'0',...,b'[0-3]',b'[3-5]',4.0,5.0,b'[0-5]',b'[5-6]',0.0,b'0',b'1',b'0'

### Cleaned Dataset

In [28]:
speeddating = df_speeddating[["attractive_partner", "interests_correlate", "match"]]
speeddating

      attractive_partner  interests_correlate match
0                    6.0                 0.14  b'0'
1                    7.0                 0.54  b'0'
2                    5.0                 0.16  b'1'
3                    7.0                 0.61  b'1'
4                    5.0                 0.21  b'1'
...                  ...                  ...   ...
8373                 3.0                 0.64  b'0'
8374                 4.0                 0.71  b'0'
8375                 4.0                -0.46  b'0'
8376                 4.0                 0.62  b'0'
8377                 3.0                 0.01  b'0'

[8378 rows x 3 columns]

In [29]:
speeddating["match"] = speeddating["match"].replace({"b'0'":"success","b'1'":"fail"}).astype("category")

speeddating

/tmp/ipykernel_1528/1266449433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  speeddating["match"] = speeddating["match"].replace({"b'0'":"success","b'1'":"fail"}).astype("category")

      attractive_partner  interests_correlate    match
0                    6.0                 0.14  success
1                    7.0                 0.54  success
2                    5.0                 0.16     fail
3                    7.0                 0.61     fail
4                    5.0                 0.21     fail
...                  ...                  ...      ...
8373                 3.0                 0.64  success
8374                 4.0                 0.71  success
8375                 4.0                -0.46  success
8376                 4.0                 0.62  success
8377                 3.0                 0.01  success

[8378 rows x 3 columns]

In [ ]:
speeddating_filtered['count'] = speeddating.groupby('match').count()
speeddating_filtered['percentage'] = 100 * speeddating_filtered['count']/len(speeddating)

In [14]:
# filtering out training data
speeddating_training, speeddating_testing = train_test_split(
    speeddating, train_size=0.75, random_state=2023 # do not change the random_state
)
speeddating_training = pd.DataFrame(speeddating_training)
speeddating_training

      attractive_partner  interests_correlate match
390                  7.0                 0.19  b'0'
5897                 8.0                 0.01  b'1'
3427                 7.0                 0.07  b'0'
4941                 4.0                 0.74  b'0'
5203                 7.0                 0.25  b'0'
...                  ...                  ...   ...
5852                10.0                -0.50  b'0'
6049                 6.0                 0.38  b'0'
2743                 7.0                 0.32  b'1'
5657                 6.0                 0.54  b'0'
4951                 4.0                -0.08  b'0'

[6283 rows x 3 columns]